<nav id="navbar">
  <div>
    <a href="/admin" id="brandlogo" class="brand-logo left"
      >Sike<span style="color: purple">!</span></a
    >
    <ul id="navul" class="right">
      <li><a href="/aboutAdmin">About</a></li>
      <li><a href="/admin/create">New Movie</a></li>
      <li><a href="/">Logout</a></li>
    </ul>
  </div>
</nav>
