<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs') %>

    <div
      class="about"
      style="
        background-color: purple;
        opacity: 0.8;
        padding: 40px;
        border-radius: 40px;
      "
    >
      <h4 style="margin: 0; color: #fff">Opps! Page not found...</h4>
    </div>

    <%- include('./partials/footer.ejs')%>
  </body>
</html>
